<h1> Cats List </h1>

<% cat = @cat%>


<table>
  <tr>
    <th> Name </th>
    <th> Sex </th>
    <th> Color </th>
    <th> Birth Date </th>
    <th> description </th>
  </tr>
    <th> <%= cat.name %></th>
    <th> <%= cat.sex %></th>
    <th> <%= cat.color %></th>
    <th> <%= cat.birth_date %></th>
    <th> <%= cat.description %></th>
</table>
